<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <h1>this register page</h1>
    {%for msg in messages%}
    <div>
        <strong>{{msg}}</strong>
        </div>
    {%endfor%}
    <form method="POST">{% csrf_token %}
        {{register_form.as_p}}
        <input type="submit", value="register"> 
    </form>
    <p>if you already have a account,<a href="/login">login</a></p>
</body>
</html>