{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet", type="text/css">
  </head>
<body class="text-center">
    
    <main class="form-signin">
      
      {%for msg in messages%}
      <div class="alert alert-warning">
        <strong>{{msg}}</strong>
        </div>
        {%endfor%}

      <form method="POST"> {%csrf_token%}
        {% load crispy_forms_tags%}
        <img class="mb-4" src="{% static 'imgs/loginlogo.png'%}" alt="top image" width="80" height="65">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating">
          {{form.firstname|as_crispy_field}}
        </div>
        <div class="form-floating">  
          {{form.lastname|as_crispy_field}}
        </div>
        <div class="form-floating">
            {{form.email|as_crispy_field}}
          </div>
          <div class="form-floating">  
            {{form.phone|as_crispy_field}}
          </div>
          <div class="form-floating">
            {{form.password|as_crispy_field}}
          </div>
          <div class="form-floating">  
            {{form.repassword|as_crispy_field}}
          </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <h5>you are already register click on below sign in link</h5>
        <a href="/login/">Sign-in</a>

       
      </form>


      

    </main>
    
    
    
</body>
</html>
